### Python basic syntax
- 변수 선언, 식별자, 자료형, 형변환, 연산자 등

### 1. 주석(comment)과 출력(print)

In [3]:
# 주석 : 앞에 #을 붙이면 코드로 실행되지 않음
# 코드에 대한 설명이나 중간에 코드를 실행시키고 싶지 않을 때 사용
# 단축키 : command + /
# block 설정 : shift + 방향키

print(1)
# print(2)
print(3)

1
3

In [4]:
# 출력 : print 함수
# 코드 중간에 변수 안에 들어있는 값을 확인하고 싶을 때 사용함

In [5]:
a = 1
b = 2
print(b)
c = 3
b = 4
print(b)

2
4

In [8]:
#  print 함수의 옵션
#  docstring : 함수에 대한 설명. 단축키는 (shift + tab)
#  자동완성 : 함수 이름의 일부분을 입력하고 tab을 누르면 자동완성 가능

print(1, 2, sep="-", end='\t')
print(3)

1-2	3

### 2. 변수 선언
- RAM 저장공간에 값을 할당하는 행위

In [9]:
a = 1
b = 2
a + b

3

위의 코드 동작원리
1. a = 1을 선언하는 순간 ram 에 a 라는 이름의 index, 1 이라는 value가 생성됨
2. b = 2를 선언하는 순간 ram 에 b 라는 이름의 index, 2 라는 value가 생성됨
3. a + b 를 요청할 때, 각 저장공간에 있는 value를 참조하여 연산 수행

In [10]:
# 변수 선언은 여러가지 방식으로 가능함

d, e = 3, 4
f = g = 5

### 3. 식별자
- 변수, 함수, 클래스, 모듈 등의 이름
- 식별자 규칙
 - 소문자, 대문자, 숫자, _(underscore)사용
 - 가장 앞에 숫자 사용 불가
 - 예약어의 사용 불가 ex) def, class, try, except...등
 - convention(python 기준, 언어마다 조금씩 다르다)
  - snake case : fast_campus : 변수 및 함수 선언할 때 사용
  - camel case : fastCampus : 클래스 선언할 때 사용

### 4. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정
- 동적타이핑 : 변수 선언 시 저장되는 값에 따라서 자동으로 데이터 타입이 설정됨
- 기본 데이터 타입
 - int, float, bool, str
- 컬렉션 데이터 타입
 - list, tuple, dict

In [14]:
a = 1
b = "python"

type(a), type(b)

(int, str)

In [16]:
# 기본 데이터 타입 int, float, bool, str
a = 1
b = 1.2
c = True
d = "data"

type(a), type(b), type(c), type(d)

(int, float, bool, str)

In [17]:
a + b

2.2

In [19]:
a + d # int 와 str은 연산이 불가능함

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
# 문자열 데이터 타입에서 사용할 수 있는 함수의 예

e = d.upper()

d, e

('data', 'DATA')

In [3]:
# 문자열에서 사용 가능한 주요한 함수 몇가지 예

f = " Fast campuS "

# lower: 소문자로 변환
f.lower()
# strip: 공백을 제거
f.strip()
# replace: 특정 문자열을 치환
f.replace("Fast","Slow")

' Slow campuS '

In [29]:
# 적용가능한 함수 보는 방법: dir()

In [31]:
# 오프셋 인덱스 : 마스크, 마스킹 : []
# 문자열은 순서가 있는 문자들의 집합

In [33]:
g = "abcdefg"

In [39]:
# 인덱스는 0부터 시작. 음수로 지정할 경우 가장 마지막 문자를 -1로 인식함
# 인덱스 범위 설정할 때는 콜론(:) 사용
# 콜론을 두번씩 쓸 때는 (::) 건너뛰는 것을 의미

g[1], g[-2], g[2:5], g[:2], g[-2:], g[::2]

('b', 'f', 'cde', 'ab', 'fg', 'aceg')

In [40]:
numbers = "123456789"

# 여기서 97531을 출력하기 위해서는
# 1. 우선 역순임, 2. 2씩 건너 뜀

numbers[::-2]

'97531'

### 컬렉션 데이터 타입: list, tuple, dict
- list [] : 순서가 있고, 수정 가능한 데이터 타입
- tuple () : 순서가 있고, 수정이 불가능한 데이터 타입
- dict {} : 순서가 없고, (키:값) 으로 구성되어 있는 데이터 타입

In [4]:
# list
ls = [1, 2, 3, 4, "five", [5, 6], True, 1.2]
type(ls), ls

(list, [1, 2, 3, 4, 'five', [5, 6], True, 1.2])

In [5]:
# list는 순서가 있기 때문에 offset index 사용 가능함

ls[3], ls[4], ls[1:3], ls[::-1]

(4, 'five', [2, 3], [1.2, True, [5, 6], 'five', 4, 3, 2, 1])

In [29]:
# list 에서 사용되는 함수

ls2 = [1, 5, 2, 4]

In [30]:
# append : 가장 뒤에 값을 추가

ls2.append(3)

# sort : 오름차순으로 정렬

ls2.sort()

# 내림차순은 별도로 없기 때문에, 오름차순 정렬한 리스트를 역으로 다시 출력해야 함
# 결과값이 요상하게 나오는 이유는 append를 입력한 셀을 여러번 실행시켰기 때문에 3이 반복적으로 추가된 것

ls2[::-1]

[5, 4, 3, 2, 1]

In [31]:
# pop : 가장 마지막 데이터를 출력하고 그 값을 삭제

num = ls2.pop()
num, ls2

(5, [1, 2, 3, 4])

In [17]:
# 단축키: ctrl + enter -> 현재 셀에서 실행됨. 커서 안넘어감.

In [32]:
# 리스트의 복사

ls3 = [1, 2, 3]
ls4 = ls3
ls3, ls4

([1, 2, 3], [1, 2, 3])

In [34]:
ls3[2] = 5

# ls3 내의 값을 바꿨는데, ls4의 값도 동시에 바뀌었음
ls4

[1, 2, 5]

In [35]:
# 단순하게 대입 연산자로 매칭을 시키게 되면, 실제 값을 복사하는 것이 아닌 주소값을 참조한다는 의미. 이를 얕은 복사라 지칭.
# 따라서 진짜 값을 복사하기 위해서는, list 에서 사용할 수 있는 함수 중 하나인 copy를 사용해야 함. 이를 깊은 복사라 지칭.

ls5 = ls3.copy()
ls3[2] = 7
ls3, ls5

([1, 2, 7], [1, 2, 5])

### tuple : list와 같지만 수정이 불가능한 데이터 타입
-  ( )을 통해서 선언하지만, 생략하고 그냥 쓰면 tuple로 인식함
-  tuple은 list 대비해서 같은 데이터를 가졌을 때 저장공간을 작게 사용함. 따라서 변수값이 불변일 때는 가급적 tuple로 지정하는 것이 바람직.

In [37]:
tp1 = 1, 2, 3
tp2 = (4, 5, 6)
type(tp1), type(tp2), tp1, tp2

(tuple, tuple, (1, 2, 3), (4, 5, 6))

In [38]:
# tuple에서도 offset index 사용 가능

tp1[1], tp1[::-1]

(2, (3, 2, 1))

In [43]:
# list와 tuple의 저장공간 차이 확인

import sys

ls = [1, 2, 3]
tp = (1, 2, 3)

print(sys.getsizeof(ls), sys.getsizeof(tp))

96 80

### dictionary
- { }로 선언
- 순서가 없고 {key:value} 형태로 구성되어 있는 데이터 타입

In [46]:
# 선언할 때: 키는 정수, 문자열 데이터 타입만 사용 가능

dicex = {
    1 : "one",
    "two" : 2,
    "three" : [1, 2, 3,],
}
type(dicex), dicex

(dict, {1: 'one', 'two': 2, 'three': [1, 2, 3]})

In [48]:
# dict에서는 index 가 key 임

dicex["two"], dicex["three"]

(2, [1, 2, 3])

In [49]:
dicex["two"] = 22

dicex

{1: 'one', 'two': 22, 'three': [1, 2, 3]}

In [55]:
# 아래의 데이터를 list와 dict으로 각각 선언할 경우
# list로는 두 번 할 일을, dict으로는 한 번에 처리 가능함

# 도시 : Seoul, Busan, Daegu
# 인구 : 9,700,000, 3,400,000, 2,400,000

In [52]:
ls_city = ["Seoul", "Busan", "Daegu"]
ls_pop = [9700000, 3400000, 2400000]

ls_city, ls_pop

(['Seoul', 'Busan', 'Daegu'], [9700000, 3400000, 2400000])

In [54]:
dict_citypop = {
    "Seoul" : 9700000,
    "Busan" : 3400000,
    "Daegu" : 2400000
}

dict_citypop

{'Seoul': 9700000, 'Busan': 3400000, 'Daegu': 2400000}

In [59]:
# list에 동일한 타입의 자료형만 있을 경우, 함수를 통해 쉽게 계산 가능함

sum(ls_pop)

15500000

In [60]:
# dict 타입은 key와 value가 공존하므로 계산을 위해서는 values 함수를 통해 별도로 지정해줘야 함

dict_citypop.values()

dict_values([9700000, 3400000, 2400000])

In [61]:
sum(dict_citypop.values())

15500000

### 5. 형변환
- 데이터 타입을 변환하는 방법
- int, float, bool, str, list, tuple, dict

In [62]:
# 같은 데이터 타입에서만 연산이 가능하다

a = 1
b = "2"
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [63]:
# 따라서 데이터 타입을 맞춰줘야 함

a + int(b)

3

In [64]:
# 만약 문자열로 합성을 원한다면

str(a) + b

'12'

In [68]:
# zip : 같은 인덱스 데이터끼리 묶어주는 함수. 데이터끼리는 tuple 형태로 묶임

zip(ls_city, ls_pop)

In [69]:
# 출력 형태를 각각 조절할 수 있음. collection data type 3개 중 한개로 지정.

list(zip(ls_city, ls_pop))

[('Seoul', 9700000), ('Busan', 3400000), ('Daegu', 2400000)]

In [70]:
tuple(zip(ls_city, ls_pop))

(('Seoul', 9700000), ('Busan', 3400000), ('Daegu', 2400000))

In [73]:
newdict = dict(zip(ls_city, ls_pop))
newdict

{'Seoul': 9700000, 'Busan': 3400000, 'Daegu': 2400000}

In [74]:
# dict 형태로 묶인 것을 다시 풀기 위해서는 keys 혹은 values 함수를 사용

list(newdict.keys())

['Seoul', 'Busan', 'Daegu']

In [75]:
tuple(newdict.values())

(9700000, 3400000, 2400000)

### 6. 연산자
- 두 개(이상)의 데이터를 통해 특정한 연산을 위한 기호
- 산술연산자: +, -, *, /, //(몫), %(나머지), **(제곱). -> 가장 마지막 것부터 우선순위 낮아짐
- 할당연산자: 특정 변수에 누적시켜서 연산 : +=, //=, **=, 등..
- 비교연산자: <, >, <=, >=, !=, ==. True 혹은 False로 출력됨
- 논리연산자: True, False를 연산. and, or, not 총 3종류
- 멤버연산자: 특정 데이터가 있는지 확인할 때 사용. not in, in 사용
- 우선순위: 산술, 할당, 비교, 멤버, 논리 순

In [77]:
# 산술 연산: 기본 규칙과 동일함(괄호가 우선)

(1 + 4) / 2 ** 2

1.25

In [80]:
# 할당 연산

a = 10
a += 10
a

20

In [82]:
# 비교 연산

b = 30

a > b, a < b, a == b, a != b

(False, True, False, True)

In [83]:
# 논리 연산

True or False, True and False, not False

(True, False, True)

In [84]:
# 멤버 연산

ls_ex = ["Kim", "Lee", "Park"]

"Kim" in ls_ex, "Chang" in ls_ex, "Lee" not in ls_ex

(True, False, False)

In [101]:
# 번외: 랜덤 함수

import random

random.randint(1, 10)

10

In [103]:
# 번외: 입력 함수

data = input("insert string : ")

insert string : Hi

In [104]:
data

'Hi'

In [105]:
# 심심풀이: 해결의 책

# 1. 솔루션을 list로 작성
# 2. 질문 입력 받음
# 3. 솔루션의 갯수에 맞게 랜덤한 index 정수 값을 생성
# 4. index 해당하는 솔루션 list의 데이터를 출력

In [2]:
import random

solution = ["잠을 자라", "돈 벌어라", "운동 해라", "답 없다", "다시 태어나라"]

input("What's your problem? : ")

idx = random.randint(0, len(solution) - 1)

solution[idx]

What's your problem? : 삶이 무료하다

'잠을 자라'